.footer {
    color: white;
    font-size: 3vh;
    background-color: #23361B;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s;
}

.footer img {
    height: 50px;
    width: 50px;
}

.footer__icon:hover {
    cursor: pointer;
    transform: scale(1.2);       
}

.email-link {
    color: white;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.email-link:hover {
    color: #C6DDBB;    
    transform: scale(1.1);
}

@media only screen and (max-width: 405px) {
    .footer {
        font-size: 2.1vh;
    }
}