.nav {
    display: flex-end;
    justify-content: space-between;
}

.nav ul {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #8499B1;
}

a:active {
    color: #D5FFF3;
}

a:hover {
    color: #FEFFEA;
}